asgiref==3.3.4
dj-database-url==0.5.0
Django==3.2.2
django-heroku==0.3.1
django-polls @ file:///Users/ialeum/lia-workspace/django-polls/dist/django-polls-0.1.tar.gz
gunicorn==20.1.0
mysqlclient==2.0.3
psycopg2==2.7.7
pytz==2021.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
whitenoise==5.2.0
